/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-white: rgb(255, 255, 255);

  --color-darkest: #1f1f1f;
  --color-darker:#303030;
  --color-darker2:#b9b9b9;
  --color-orange: #fa5616;
  --color-turquoise: #2bcaaf;
  --color-light-turquoise: #f2fbfa;

  --color-p-dark:#b9b9b9;
  --color-white-dark: #303030;
  --color-h2-dark:#f0fffd ;
  --color-light-turquoise-dark: var(--color-darkest);
  --color-shadow-dark:#2bcaaf;
  --color-request-dark:var(--color-darker);

  --color-request: var(--color-white);
  --color-shadow:var(--color-darker);
  --color-h2: var(--color-darkest);
  --background-color:var(--color-white);
  --color-p:var(--color-darker);

  
}

/* Fonts */
html {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
 
}

h1,
h2,
h3 {
  color: var(--color-h2);
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}

h1 {
  color: var(--color-white);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-p);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-darker);
}

a:hover {
  text-decoration: underline;
  color: var(--color-turquoise);
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-white);
}



input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: #eee;
  border-color: #ddd;
  color: var(--color-darker);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darkest);
}

nav a {
  color: var(--color-white);
  text-decoration: none;
}

nav a.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

nav button {
  color: var(--color-white);
  background-color: var(--color-orange);
  
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background-color);
}

header h1 {
  color: var(--color-turquoise);
}

header h1 span {
  color: var(--color-orange);
}

.intro {
  opacity: 0;
}

header p {
  color: var(--color-darker2);
}

header button {
  margin-bottom: 3rem;
  background-color: var(--color-orange);
}

.header_text {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 250px;
  background-color: var(--color-darkest);
  margin-bottom: 1rem;
  padding: 3rem;
}
.header_graphics object{
  width: 100%;
  height: 100%;
}

.header_graphics object svg path {
  fill: #f00;
}

/* product section */
#product {
  padding: 5rem 3rem;
  background-color: var(--color-light-turquoise);
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;

}

#product h2 span{

  color: var(--color-turquoise);
}



#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

.product_text a {
  color: var(--color-orange);
}



#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  padding: 1rem;
  margin: 3rem;
  background-color: var(--color-white);
  border-radius: 300px;
  box-shadow: 5px 10px var(--color-shadow);

}


.product_graphics object{
  width: 100%;
  height: 100%;

}

/* highlight sections */
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 5.005rem;
  line-height: 6rem;
}
.highlight div h2 span {
  color: var(--color-turquoise);
}

.highlight div a {
  color: var(--color-orange);
}


/* request section */
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-request);
}
#request div h2 span {
  color: var(--color-turquoise);
}

#request div {
  width: 50vw;
  min-width: 300px;
}

#request div p {
  color: var(--color-darker2);
}

#request div button {
  background-color: var(--color-orange);
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darkest);
  color: var(--color-white);
}

footer h2,
footer h3 {
  color: var(--color-white);
  margin-bottom: 1rem;
}

footer a {
  color: #ddd;
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

.toggle-container {
  padding-top: 1rem;
}

input[type=checkbox] { /* styling for input element */
  height: 0;
  width: 0;
  visibility: hidden;
}

#mode {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 0.8rem;
margin-bottom: 0;
padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--color-orange);
  
}

label { /* styling for labels */
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-darker2);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after { /* styling for labels - on toggle */
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label { /* conditional check while toggling */
  background: var(--color-orange);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }

  #product h2 {
    font-size: 1.953rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .highlight div h2 {
    font-size: 3.052rem;
    line-height: 3.5rem;
  }

}



